.beautyPage header{
    background: none;
    .headerBox .navList li{
        &:hover a{
            background: none;
            color: #aaaaaa;
        }
        &.hasNext:hover a{
            background: #010d1a;
            color: #ffffff;
        }
    }
    &.scroll{
        background: #01152b;
    }
}
.beauty{
    margin-top: -0.8rem;
    .bannerBack{
        position: relative;
        z-index: 25;
        background: url(../../img/beautiful_pic.png) no-repeat;
        background-size: 100% 100%; 
        .bannerContent{
            img{
                bottom: -0.8rem;
            }
        }
    }
    h1{
        span{
            vertical-align: middle;
            font-weight: lighter;
            font-size: 0.20rem;
        }
    }

    .detectionBox{
        position: relative;
        .Box{
            width: 90%;
            max-width: 12.3rem;
            margin: 0 auto;
            overflow: hidden;
            &.boxheight{
                height: 6.14rem;
            }
            .line{
                width: 0.92rem;
                height: 0.01rem;
                background: #06ceff;
            }
            h2{
                color: #06ceff;
                font-size: 0.2rem;
                margin-bottom: 0.22rem;
            }
            h1{
                font-size: 0.4rem;
                color: #333333;
                margin-bottom: 0.24rem;
            }
            .boxLeft{
                float: left;
                width: 59%;
                padding-top: 1.85rem;
                h2,h1{
                    text-align: left;
                }
                p{
                    margin-top: 0.6rem;
                    font-size: 0.14rem;
                    color: #666666;
                    text-align: left;
                    margin-right: 22%;
                    line-height: 2;
                }
                p.line{
                    margin-top: 0;
                }
            }
            .boxRight{
                margin-top: 1.54rem;
                margin-left: 59%;
                width: 31%;
                li{
                    display: table;
                    vertical-align: middle;
                    // display: table-cell;
                    // vertical-align: middle;
                    float: left;
                    width: 1.75rem;
                    height: 1.75rem;
                    margin-right: 0.25rem;
                    margin-bottom: 0.25rem;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    &:nth-child(1){
                        background: #6ddae1;
                    }
                    &:nth-child(2){
                        background: #ffac69;
                    }
                    &:nth-child(3){
                        background: #a6d55b;
                    }
                    &:nth-child(4){
                        background: #e88baa;
                    }
                    p{
                        display:table-cell;
                        vertical-align:middle;
                        h3,h5{
                            color: #ffffff;
                            margin: 0 0.25rem;
                            line-height: 1.3;
                        }
                        h3{
                            font-size: 0.24rem;
                        }
                        h5{
                            font-size: 0.14rem;
                            margin-top: 0.17rem;
                        }
                    }
                }
            }
            .imgRight{
                margin-top: 1.09rem;
                margin-left: 59%;
                width: 31%;
                background: #ffffff;
                h5,p{
                    font-size: 0.14rem;
                    color: #333333;
                }
                h5{
                    padding-top: 0.42rem;
                    text-align: center; 
                }
                img{
                    margin-top: 0.53rem;
                    margin-bottom: 0.44rem;
                    box-sizing: border-box;
                    width: 100%;
                    padding: 0 0.15rem;
                }
                p{
                    display: table;
                    vertical-align: middle;
                    width: 100%;
                    height: 0.52rem;
                    padding: 0.24rem 0;
                    color: #333333;
                    span{
                        display: table-cell;
                        vertical-align: middle;
                        width: 33.33333%;
                        padding: 0 8%;
                        text-align: center;
                        line-height: 1.3;
                        border-right: 1px solid #e7e7e7;
                        &:last-child{
                            border: 0;
                        } 
                    }
                }
            }
        }
        .cover{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.76rem;
            background: -webkit-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,0.14));
            background: -moz-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,0.14));
            background: -o-linear-gradient(top,rgba(255,255,255,0),rgba(0,0,0,0.14));
            z-index: 10;
        }
    }
    .blueBack{
        background: #e9f1fa;
    }
    .serviceProcess{
        text-align: center;
        h1{
            padding-top: 1.18rem;
        }
        .line{
            margin: 0.24rem auto 0.68rem;
        }
        ul{
            display: inline-block;
            overflow: hidden;
            li{
                box-sizing: border-box;
                display: table-cell;
                vertical-align: middle;
                width: 1.78rem;
                height: 1.78rem;
                border: 1px solid #06ceff;
                border-radius: 50%;
                text-align: center;
                line-height: 1.5;
                sup{
                    vertical-align: super;
                }
            }
            li.nextImg{
                border: 0;
                width: 1.04rem;
                position: relative;
                span{
                    width: 0.23rem;  
                    height: 0.23rem;  
                    position: absolute; 
                    top: 50%;
                    margin-left: -0.18rem;
                    border-left: 1px solid #999;  
                    border-bottom: 1px solid #999;  
                    -webkit-transform: translate(0,-50%) rotate(-135deg);  
                    transform: translate(0,-50%) rotate(-135deg); 
                } 
            }
        }
        
    }
    .reportEg{
        h1{
            margin-top: 1.1rem;
        }
        .line{
            margin: 0.24rem auto 0;
        }
        .imgActive{
            position:relative;
            .reportContent{
                padding-top: 0.68rem;
                overflow: hidden;
                height: 5.44rem;
                width: 96%;
                margin: 0 auto;
                position: relative;
                img{
                    position: absolute;
                    bottom: 0;
                    width: 28%;
                    margin-right: 8%;
                    &:last-child{
                        margin-right: 0;
                    }
                    opacity: 0.8;
                    &#focus{
                        left: 34%;
                        width: 33%;
                        opacity: 1;
                        box-shadow: 0 0 0.76rem rgba(0,0,0,0.14);
                        z-index: 20;
                    }
                    &#prev{
                        left: 0;
                    }
                    &#next{
                        left: 72%;
                    }
                    transition: all 1s;
                    -moz-transition: all 1s;  /* Firefox 4 */
                    -webkit-transition: all 1s;   /* Safari 和 Chrome */
                    -o-transition: all 1s;
                }
            }
            nav{
                position: absolute;
                top: 50%;
                left: 50%;
                margin-left: -20.75%;
                width: 41.5%;
                height: 0.34rem;
                div{
                    width: 0;
                    height: 0;
                    border: 0.17rem solid transparent;
                    &.prev{
                        float: left;
                        border-right: 0.17rem solid #06cdfe;
                    }
                    &.next{
                        float: right;
                        border-left: 0.17rem solid #06cdfe;
                    }
                }
            }
        }
        
    }
    .customizedService{
        h2{
            text-align: center;
            padding-top: 0.88rem;
            margin-bottom: 0.21rem;
        }
        .line{
            margin: 0.24rem auto 0.44rem;
        }
        .serviceContent{
            margin-bottom: 5%;
            overflow: hidden;
            .contentLine{
                overflow: hidden;
                .serviceItem{
                    display: table;
                    vertical-align: middle;
                    float: left;
                    width: 49%;
                    height: 2.1rem;
                    margin-bottom: 0.2rem;
                    margin-right: 2%;
                    &:nth-child(2n){
                        margin-right: 0;
                    }
                    .leftImg{
                        display: table-cell;
                        width: 46%;
                        height: 100%;
                        line-height: 2.1rem;
                        text-align: center;
                        vertical-align: middle;
                        img{
                            vertical-align: middle;
                        }
                    }
                    
                    .textContent{
                        display: table-cell;
                        vertical-align: middle;
                        h3{
                            font-size: 0.2rem;
                            color: #333333;
                            margin-bottom: 7%;
                        }
                        p{
                            font-size: 0.14rem;
                            color: #666666;
                            line-height: 2;
                        }
                    }
                }
            }
        }
    }
}