.pacsPage header{
    background: none;
    z-index: 20;
    .headerBox .navList li{
        &:hover a{
            background: none;
            color: #aaaaaa;
        }
        &.hasNext:hover a{
            background: #010d1a;
            color: #ffffff;
        }
    }
    &.scroll{
        background: #01152b;
    }
}
.pacs{
    margin-top: -0.8rem;
    .bannerBack{
        background: url(../../img/productbanner.png) no-repeat;
        background-size: 100% 100%;
    }
    h1{  
        color: #333333;
    }
    .featrue{
        overflow: hidden;
        padding: 1.60rem 0 1.34rem;
        .featrueContent{
            width: 90%;
            max-width: 12.3rem;
            margin: 0 auto;
            margin-top: 0.66rem;
            overflow: hidden;
            img{
                width: 80%;
                margin: 0 10%;
            }
            h4{
                font-size: 0.24rem;
                margin-top: 0.46rem;
                margin-bottom: 0.19rem;
                color: #333333;
            }
            p{
                font-size: 0.14rem;
                opacity: 0.8;
                line-height: 1.5;
                color: #666666;
            }
            ul{
                width: 100%;
                li{
                    background: #e9f2fb;
                    box-sizing: border-box;
                    border: 1px solid #015367;
                    float: left;
                    width: 32%;
                    margin-right: 2%;
                    margin-bottom: 0.22rem;
                    p{
                        margin-right: 10%;
                        span{
                            font-size: 0.2rem;
                            color: #06ceff;
                        }
                    }
                    &:nth-child(3n){
                        margin-right: 0;
                    }
                    .featrueIcon{
                        float: left;
                        width: 86px;
                        height: 101px;
                        margin: 0.37rem 0.23rem;
                    }
                    .featrueText{
                        margin-left: 1.32rem;
                    }
                    &:nth-child(1) .featrueIcon{
                        background: url(../../img/icons.png) 0 -144px no-repeat;
                    }
                    &:nth-child(2) .featrueIcon{
                        background: url(../../img/icons.png) -86px -144px no-repeat;
                    }
                    &:nth-child(3) .featrueIcon{
                        background: url(../../img/icons.png) -172px -144px no-repeat;
                    }
                    &:nth-child(4) .featrueIcon{
                        background: url(../../img/icons.png) -258px -144px no-repeat;
                    }
                    &:nth-child(5) .featrueIcon{
                        background: url(../../img/icons.png) -344px -144px no-repeat;
                    }
                    &:nth-child(6) .featrueIcon{
                        background: url(../../img/icons.png) -430px -144px no-repeat;
                    }
                }
            }
            .lastFeatrue{
                box-sizing: border-box;
                height: 2.93rem;
                border: 1px solid #015367;
                display: table;
                vertical-align: middle;
                width: 100%;
                .featrueText{
                    padding-left: 1.3rem;
                }
                img{
                    margin: 0.34rem 0;
                    width: auto;
                }
            }
        }
    }
    .customizedSolutions{
        background: #e9f1fa;
        padding-bottom: 1.72rem;
        h1{
            padding: 0.98rem 0;
            color: #333333;
        }
        .solutionContent{
            width: 90%;
            max-width: 12.3rem;
            margin: 0 auto;
            overflow: hidden;
            display: flex;
            li{
                flex: 1;
                margin-right: 2%;
                background: #ffffff;
                img{
                    display: block;
                    height: 2.53rem;
                    margin: 0 auto;
                }
                p{
                    color: #333333;
                    font-size: 0.14rem;
                    line-height: 2;
                    text-align: center;
                    margin-bottom: 0.5rem;
                }
                p.title{
                    font-size: 0.2rem;
                    margin-bottom: 0.38rem;
                    line-height: 1;
                }
                &:last-child{
                    margin-right: 0;
                }
            }
        }
    }
}
