$border: 0.01rem solid #777777;
.content{
    // padding: 0 1%;
    background: #ffffff;
    overflow: hidden;
    .slogan{
        background: #062346;
        position: relative;
        width: 100%;
        height: 5.00rem;
        overflow: hidden;
        text-align: center;
        #slideTitle{
            position: absolute;
            left: 0;
            top: 30%;
            z-index: 10;
            width: auto;
            padding: 0 3%;
            h1,h2{
                color: #ffffff;
                text-align: center;
                letter-spacing: 0;
                font-weight: bolder;
            }
            h1{font-size:0.40rem;}
            h2{
                margin: 0 15%;
                margin-top: 5%;
                font-size: 0.18rem;
                line-height: 1.5;
            }
        }
        ul{
            opacity: 0.5;
            height: 100%;
            li{
                height: 100%;
                width: 100%;
                overflow: hidden;
                position: absolute;
                top: 0;
                left: 0;
                opacity: 0;
                transition: opacity 2s;
                -moz-transition: opacity 2s;  /* Firefox 4 */
                -webkit-transition: opacity 2s;   /* Safari 和 Chrome */
                -o-transition: opacity 2s;
                img{
                    height: 100%;
                    width: 100%;
                }
                &.show{
                    opacity: 1;
                }
            }
        }
    }
    h1{
        text-align: center;
        font-weight: lighter;
        color: #000000;
    }
    .products{
        padding: 0.34rem 4%;
        .list{
            margin: 0 auto;
            margin-top: 0.40rem;
            text-align: center;
            overflow: hidden;
            li{
                position: relative;
                border: $border;
                border: 1px solid #e7e7e7;
                margin-right: 3%;
                overflow: hidden;
                box-sizing: border-box;
                float: left;
                width: 47%;
                margin-bottom: 3%;
                img{
                    display: inline-block;
                    height: 100%;
                    width: 100%
                }
                p{
                    min-height: 0.30rem;
                    width: 100%;
                    font-size: 0.10rem;
                    color: #333333;
                }
                &:nth-child(2n){
                    margin-right: 0;
                }
            }
        }
    }
    .cooperation{
        padding: 0 0 0.78rem 0;
        table{
            background:#ffffff;
            display: block;
            margin: 0 4%;
            margin-top: 0.40rem;
            border-bottom: 1px solid #e7e7e7;
            tbody,tr{
                display: block;
                width: 100%;
            }
            td{
                display: inline-block;
                width: 50%;
                height: 0.82rem;
                line-height: 0.82rem;
                box-sizing: border-box;
                &:first-child{
                    border-left: 1px solid #e7e7e7;
                }
                img{
                    vertical-align: middle;
                    width: 30%;
                }
                text-align: center;
                vertical-align: middle;
                border-top: 1px solid #e7e7e7;
                border-right: 1px solid #e7e7e7;
            }
        }
    }
}